NODE_ENV=development
PORT=3003
MONGODB_URI=mongodb://localhost:27017/foodorder_orders
JWT_SECRET=change-this-to-a-long-random-secret-string
JWT_EXPIRES_IN=7d
USER_SERVICE_URL=http://localhost:3001
RESTAURANT_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3004
